@model IPagedList<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!DOCTYPE html>
<html>

<body>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Kullanıcılar</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Anasayfa</a>
                </li>
                <li class="breadcrumb-item">
                    İçerik
                </li>
                <li class="breadcrumb-item active">
                    <strong>Kullanıcılar</strong>
                </li>
            </ol>
        </div>
    </div>
    <br />
    @*wrapper wrapper-content animated fadeInRight*@
    <div class="wrapper wrapper-content alert- fadeInRight">
        <div class="row">


            @foreach (var user in Model)
            {
                <div class="col-lg-3">
                    <div class="contact-box center-version">

                        <a href="/user/UserReadAll/@user.UserId">

                            <img alt="image" class="rounded-lg" src="/img/@user.Image" style="width:80px;" height:"35px;">



                            <h3 class="m-b-xs"><strong>@user.UserName</strong></h3>

                            <div class="font-bold">@user.Email</div>

                            <strong>Eğitim </strong><br>
                            @user.Education




                        </a>
                        <div class="contact-box-footer">
                            <div class="m-t-xs btn-group">

                                @*<a href="/User/UserEditProfile/@user.UserId" class="btn btn-xs btn-white"><i class="fa fa-search"></i> Düzenle</a>*@
                                <a href="/User/UserReadAll/@user.UserId" class="btn btn-xs btn-white"><i class="fa fa-user"></i> Detay</a>
                                <a href="/User/DeleteUser/@user.UserId" id="DeleteBtn" onclick="return confirm('Silmek Istediginize Eminmisiniz');" class="btn btn-xs btn-danger"><i class="fa fa-desktop"></i> Sil</a>
                            </div>
                        </div>

                    </div>
                </div>


            }

        </div>
    </div>
    <br /><br />
    <a href="/User/AddUser/" class="btn btn-primary">Yeni Kullanıcı Ekle</a>  @*basına admin eklendi*@
    <br />

    <br />
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

    <!-- Mainly scripts -->
    <script src="~/aspnetadmin/js/jquery-3.1.1.min.js"></script>
    <script src="~/aspnetadmin/js/popper.min.js"></script>
    <script src="~/aspnetadmin/js/bootstrap.js"></script>
    <script src="~/aspnetadmin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/aspnetadmin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/aspnetadmin/js/inspinia.js"></script>
    <script src="~/aspnetadmin/js/plugins/pace/pace.min.js"></script>


</body>

</html>



