@model User
@{
    ViewData["Title"] = "UserEditProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1>Kullanıcı Güncelleme Sayfası</h1>
<br />

<form method="post" asp-controller="User" asp-action="UserEditProfile" enctype="multipart/form-data">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kullanıcı Profil Bilgileri Düzenleme</h4>


                @Html.HiddenFor(x => x.UserId, new { @class = "form-control" })

                <div class="form-group">
                    <label asp-for="UserName"> <b>Kullanıcı Adı:</b></label>
                    <input asp-for="UserName" type="text" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Email"> <b>E-Mail:</b></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password"><b>Şifre:</b></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Telephone"><b>Şifre:</b></label>
                    <input asp-for="Telephone" type="tel" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Name"> <b>Adınız:</b></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Surname"> <b>Soyadınız:</b></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Education"> <b>Eğitim:</b></label>
                    <input asp-for="Education" class="form-control" />
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"> <b>Resim:</b></label>
                    <input type="file" name="file" class="form-control" />
                </div>
                <br />
                <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>

            </div>
        </div>
    </div>


</form>