@model List<EntityLayer.Concrete.Book>
@{
    ViewData["Title"] = "GetlistBookId";
    Layout = "~/Areas/Showcase/Views/Shared/_AreaVitrinLayout.cshtml";
}
<!-- //banner -->
<!-- breadcrumbs -->
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <br />
            <br />
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a href="index.html">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>

                <li class="btn btn2">

                    <a href="shop.html">Kitap Listesi</a>
                </li>
                <li class="btn btn3">
                    <a href="single_product.html">Seçilen Kitap</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//breadcrumbs ends here-->
<!-- Single -->
<div class="innerf-pages section">
    <div class="container">
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider1">
                    <ul class="slides">
                        <li data-thumb="images/s1.jpg">
                            <div class="thumb-image">
                                <img src="~/vitrinpanel/images/lib8.jpg" data-imagezoom="true" alt=" " class="img-responsive">
                            </div>
                        </li>
         
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            @foreach (var book in Model)
            {


                <h3>
                    @book.BookName
                    <span>@book.PrintDate.ToShortDateString()</span>
                </h3>
                <p>
                    by
                    <a href="#">Tür:@book.Category.Name</a>
                </p>
                <div class="caption">

                    <ul class="rating-single">
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                    <h6>
                        Sayfa Sayısı @book.NumberPage
                    </h6>
                </div>
                <div class="desc_single">
                    <h5>Kitap Hakkında</h5>
                    <p>
                        @book.BookDescription
                    </p>
                </div>
                <div class="occasional">
                    <h5>Specifications</h5>
                    <ul class="single_specific">
                        <li>
                            <span>language :</span> english
                        </li>
                        <li>
                            <span>format :</span> Hardcover
                        </li>
                        <li>
                            <span>publisher :</span> Lorempipsum
                        </li>
                        <li>
                            <span>edition :</span> february 2018
                        </li>
                        <li>
                            <span>pages :</span> 765
                        </li>
                    </ul>

                </div>


            }
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- /new_arrivals -->
<div class="section singlep_btm">
    <div class="container">
        <div class="new_arrivals">
            <h4 class="rad-txt">
                <span class="abtxt1">featured</span>
                <span class="abtext"> products</span>
            </h4>
            <!-- row3 -->
            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                        <a href="single_product.html">
                            <img src="images/lib7.jpg" alt="">
                        </a>
                    </div>
                    <div class="caption">
                        <h4>Marketing</h4>
                        <p>Scott Harris</p>
                        <div class="matrlf-mid">
                            <ul class="rating">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="price-list">
                                <li>$ 180.00</li>
                                <li>
                                    $220.00
                                </li>
                            </ul>

                            <div class="clearfix"> </div>
                        </div>
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="chr_item" value="Book1">
                            <input type="hidden" name="amount" value="180.00">
                            <button type="submit" class="chr-cart pchr-cart">
                                Add to cart
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </button>
                            <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                        <a href="single_product.html">
                            <img src="images/lib1.jpg" alt="">
                        </a>
                    </div>
                    <div class="caption">
                        <h4>online business</h4>
                        <p>Scott Harris</p>
                        <div class="matrlf-mid">
                            <ul class="rating">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="price-list">
                                <li>$ 330.00</li>
                                <li>
                                    $560.00
                                </li>
                            </ul>

                            <div class="clearfix"> </div>
                        </div>
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="chr_item" value="Book2">
                            <input type="hidden" name="amount" value="330.00">
                            <button type="submit" class="chr-cart pchr-cart">
                                Add to cart
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </button>
                            <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                        <a href="single_product.html">
                            <img src="images/lib2.jpg" alt="">
                        </a>
                    </div>
                    <div class="caption">
                        <h4>kids</h4>
                        <p>Cordebard</p>
                        <div class="matrlf-mid">
                            <ul class="rating">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="price-list">
                                <li>$ 280.00</li>
                                <li>
                                    $500.00
                                </li>
                            </ul>

                            <div class="clearfix"> </div>
                        </div>
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="chr_item" value="Book3">
                            <input type="hidden" name="amount" value="280.00">
                            <button type="submit" class="chr-cart pchr-cart">
                                Add to cart
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </button>
                            <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                        <a href="single_product.html">
                            <img src="images/lib3.jpg" alt="">
                        </a>
                    </div>
                    <div class="caption">
                        <h4>work from home</h4>
                        <p>Cordebard</p>
                        <div class="matrlf-mid">
                            <ul class="rating">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="price-list">
                                <li>$ 140.00</li>
                                <li>
                                    $200.00
                                </li>
                            </ul>

                            <div class="clearfix"> </div>
                        </div>
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="chr_item" value="Book4">
                            <input type="hidden" name="amount" value="140.00">
                            <button type="submit" class="chr-cart pchr-cart">
                                Add to cart
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </button>
                            <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                        </form>
                    </div>
                </div>
            </div>
            <!-- //row3 -->
            <div class="clearfix"></div>
        </div>
        <!--//new_arrivals-->
        <div class="clearfix"></div>

    </div>
</div>
<!--// Single -->
<!-- footer -->
