@model List<EntityLayer.Concrete.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Showcase/Views/Shared/_AreaVitrinLayout.cshtml";
}
<!DOCTYPE html>
<html lang="zxx">


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">

        <br /><br />
        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
                            <a href="index.html">
                                <i class="glyphicon glyphicon-home"></i>
                            </a>
                        </li>
                        <li class="btn btn2">
                            <a href="/Showcase/Book/Index/">Kitap Listesi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!-- Shop -->
        <div class="innerf-pages section">
            <div class="container-cart">
                <!-- product left -->
                @await Component.InvokeAsync("AreaBookListSidebar")

                <!-- //product left -->
                <!-- product right -->
                <div class="col-md-9">
                    <div class="wrapper_top_shop">
                        <!-- product-sec1 -->
                        <div class="product-sec1">
                            @foreach (var book in Model)
                            {
                                <div class="col-md-3">
                                    <div class="product-chr-info chr">
                                        <div class="thumbnail">
                                            <a href="single_product.html">
                                                <img src="/img/@book.BookImage" alt="">
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <h4>@book.BookName</h4>
                                            <p>@book.Writer.Name @book.Writer.Surname</p>
                                            <div class="caption">

                                                <ul class="rating-single">
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"> </div>
                                                <h6>
                                                </h6>
                                            </div>


                                            <a href="/Showcase/Book/GetlistBookId/@book.BookId" class="btn btn-success  fa fa-book">  Detay</a>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- row1-->


                            <div class="clearfix"></div>

                        </div>

                        <!-- //product-sec1 -->
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
  
    </div>
    <!-- //home -->
    <!-- js -->
    <!-- Common js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!--// Common js -->
    <!-- cart-js -->
    <script src="js/minicart.js"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="js/jquery-ui.js"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!--search jQuery-->
    <script src="js/main.js"></script>
    <!--search jQuery-->
    <!-- Scrolling Nav JavaScript -->
    <script src="js/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!--//scripts-->

    <script src="js/bootstrap.js"></script>
    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- smoothscroll -->
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->

</body>

</html>