@model Writer
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yazar Üye Olma Paneli</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <!-- css files -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->

    <link rel="stylesheet" href="~/webregister/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
    <!-- section -->
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>
                    <h1>Yazar Kayıt Olma Ekranı</h1>
                    <p>
                        Kütüphanemize hoşgeldiniz,giriş yapmak için lütfen üye olun...
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="/Login/Index/"> Giriş Yap</a></li>
                            <li><a class="read" href="/Showcase/Index/"> Anasayfaya Dön</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="register-in">

                    <h2><span class="fa fa-pencil"></span> Kayıt Ol</h2>
                    <div class="register-form">

                        <form method="post" asp-controller="Register" asp-action="Index" enctype="multipart/form-data">
                            <div class="fields-grid">

                                <div class="form-row">
                                    <div class="col-md-6 mb-3">

                                        <input asp-for="Name" class="form-control" placeholder="Adınız" />
                                        <span asp-validation-for="Name" class="border-white"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">

                                        <input asp-for="Surname" class="form-control" placeholder="Soyadınız" />
                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 mb-3">

                                        <input asp-for="Mail" type="email" class="form-control" placeholder="Email Adresiniz" />
                                        <span asp-validation-for="Mail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">

                                        <input asp-for="Password" type="password" class="form-control" placeholder="Şifre" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 mb-3">

                                        <input name="againPassword" type="password" class="form-control" placeholder="Şifre Tekrarı.." />

                                    </div>

                                    <br />
                                    @*<div class="form-group col-md-6">
                    <label for="exampleInputPassword2 mb-2"><b>Şehir:</b></label>
                    @Html.DropDownList("GetCity", (ViewBag.getCity), "Şehir Seçiniz", new { @class = "form-control dropdown" })
                </div>*@
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Image"> <b>Resim:</b></label>
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                    <br />
                                </div>
                             
                                <div class="clear"> </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Tüm Hakları, <a href="#">Kabul ediyorum</a></label>
                            </div>
                            <input type="submit" value="Üye Ol">
                        </form>
                    </div>

                </div>

                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
        <!-- copyright -->
        <p class="agile-copyright"> 09.01.2022 ©Mine Tocuoglu | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
        <!-- //copyright -->
    </section>
    <!-- //section -->
</body>
<!-- //body ends -->
</html>
