<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        @await Component.InvokeAsync("UserLogin")
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/index/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Showcase/User/Index/">
                <span class="menu-title">Profilim</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Blog/GetBlogListByWriterId/">
                <span class="menu-title">Duyurular</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Showcase/Book/Index/">
                <span class="menu-title">
                    Kitaplar
                </span>
                <i class="mdi mdi-book-lock-open menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterMessage/">
                <span class="menu-title">Mesajlar</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Notification/AllNotification/">
                <span class="menu-title">Bildirimler</span>
                <i class="mdi mdi-notification-clear-all menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Showcase/Index/">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Showcase/User/UserEditProfile1/">
                <span class="menu-title">Ayarlar</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>

        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-exit-run menu-icon"></i>
            </a>

        </li>

       

    </ul>
</nav>