
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            @await Component.InvokeAsync("AdminLogin")
            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>

            </li>

            <li>
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">16/24</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="mailbox.html">Inbox</a></li>
                    <li><a href="mail_detail.html">Email view</a></li>
                    <li><a href="mail_compose.html">Compose email</a></li>
                    <li><a href="email_template.html">Email templates</a></li>
                </ul>
            </li>
            <li>
                <a href="/Book/Index/"><i class="fa fa-book"></i> <span class="nav-label">Kitaplar</span>  </a>
            </li>
            <li>
                <a href="/Category/Index/"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>
            <li>
                <a href="/Writer/Index/"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span>  </a>
            </li>
            <li>
                <a href="/User/Index/"><i class="fa fa-user"></i> <span class="nav-label">Üyeler</span></a>
            </li>
            <li>
                <a href="/Employee/Index/"><i class="fa fa-users"></i> <span class="nav-label">Personeller</span>  </a>
            </li>
            <li>
                <a href="/Loaned/Loan/"><i class="fa fa-bookmark"></i> <span class="nav-label">Ödünç Kitap Ver</span>  </a>
            </li>
            <li>
                <a href="/Loaned/LoanBookList/"><i class="fa fa-book"></i> <span class="nav-label">Ödünç Kitap Al</span>  </a>
            </li>
            <li>
                <a href="/Loaned/LoanBookList/"><i class="fa fa-book"></i> <span class="nav-label">Ödünç Kitap Listesi</span>  </a>
            </li>
            <li>
                <a href="/Widget/Index/"><i class="fa fa-map-pin"></i> <span class="nav-label">İstatistikler</span>  </a>
            </li>
            <li>
                <a href="/Widget/Weather/"><i class="fa fa-cloud-download"></i> <span class="nav-label">Hava Durumu Raporu</span>  </a>
            </li>
            <li>
                <a href="/Widget/WeatherCart/"><i class="fa fa-cart-plus"></i> <span class="nav-label">Hava Kartı</span>  </a>
            </li>
            <li>
                <a href="/Widget/LinqCard/"><i class="fa fa-apple"></i> <span class="nav-label">Sorgular</span>  </a>
            </li>
            @*<li>
            <a href="widgets.html"><i class="fa fa-euro"></i> <span class="nav-label">Kasa</span></a>
        </li>*@
            <li>
                <a href="metrics.html"><i class="fa fa-info"></i> <span class="nav-label">Ayarlar</span>  </a>
            </li>
            <li>
                <a href="/Transactions/Index/"><i class="fa fa-ellipsis-v"></i> <span class="nav-label">Işlemler</span>  </a>
            </li>
            <li>
                <a href="metrics.html"><i class="fa fa-phone"></i> <span class="nav-label">Iletisim</span>  </a>
            </li>
            <li>
                <a href="metrics.html"><i class="fa fa-heart"></i> <span class="nav-label">Yardım</span>  </a>
            </li>
            <li>
                <a href="metrics.html"><i class="fa fa-flask"></i> <span class="nav-label">Istatistikler</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Grafikler</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="graph_flot.html">Flot Charts</a></li>
                    <li><a href="graph_morris.html">Morris.js Charts</a></li>
                    <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                    <li><a href="graph_chartjs.html">Chart.js</a></li>
                    <li><a href="graph_chartist.html">Chartist</a></li>
                    <li><a href="c3.html">c3 charts</a></li>
                    <li><a href="graph_peity.html">Peity Charts</a></li>
                    <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Formlar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="form_basic.html">Basic form</a></li>
                    <li><a href="form_advanced.html">Advanced Plugins</a></li>
                    <li><a href="form_wizard.html">Wizard</a></li>
                    <li><a href="form_file_upload.html">File Upload</a></li>
                    <li><a href="form_editors.html">Text Editor</a></li>
                    <li><a href="form_autocomplete.html">Autocomplete</a></li>
                    <li><a href="form_markdown.html">Markdown</a></li>
                </ul>
            </li>

            <li class="active">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tablolar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="table_basic.html">Statistic Table</a></li>
                    <li><a href="table_data_tables.html">Data Tables</a></li>
                    <li><a href="table_foo_table.html">Foo Tables</a></li>
                    <li><a href="jq_grid.html">jqGrid</a></li>
                </ul>
            </li>


            <li>
                <a href="/Login/LogOut/">
                    <i class="fa fa-sign-out"></i> Çıkış Yap
                </a>
            </li>

        </ul>

    </div>
</nav>