
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/index/">
                <span class="menu-title">Ana Sayfa</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/Index/">
                <span class="menu-title">Kategoriler</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>

        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Blog/GetBlogListByWriterId/">
                <span class="menu-title">Kitaplar</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogAdd/">
                <span class="menu-title">
                    Yazarlar
                </span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterMessage/">
                <span class="menu-title">Üyeler</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Notification/AllNotification/">
                <span class="menu-title">Personeller</span>
                <i class="mdi mdi-notification-clear-all menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">Ödünç Kitap Ver</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">Ödünç Kitap Al</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">Kasa</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">İşlemler</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/WriterEditProfile/">
                <span class="menu-title">Ayarlar</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/WriterEditProfile/">
                <span class="menu-title">Yardım</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/WriterLogOut/">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-exit-run menu-icon"></i>
            </a>

        </li>

    </ul>
</nav>