<nav class="navbar navbar-default navbar-fixed-top">
    <div class="main-nav">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Library</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="/Showcase/Index/">Book & World</a>
                </h1>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                <ul class="nav navbar-nav navbar-left cl-effect-15">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/Showcase/Index/">Anasayfa</a>
                    </li>

                    <li>
                        <a href="/Showcase/Book/Index/" class="dropdown-toggle effect-3">
                            Kitaplar

                        </a>
                    </li>
                    <li>
                        <a href="/Showcase/Writer/Index/" class="dropdown-toggle effect-3">
                            Yazarlar
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">Iletişim</a>
                    </li>
                    <li>
                        <a href="/Showcase/About/About/">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="login.html" title="SignIn & SignUp">
                            <span class="fa fa-user nav-icon" aria-hidden="true"></span>
                        </a>
                    </li>

                </ul>
                <!-- search-bar -->
                <div class="search-bar-agileits">
                    <div class="cd-main-header">
                        <ul class="cd-header-buttons">
                            <li>
                                <a class="cd-search-trigger" href="#cd-search">
                                    <span></span>
                                </a>
                            </li>
                        </ul>
                        <!-- cd-header-buttons -->
                    </div>
                    <div id="cd-search" class="cd-search">
                        <form action="#" method="post">
                            <input name="Search" type="search" placeholder="Type and Hit Enter...">
                        </form>
                    </div>
                </div>
      
            </div>
            <!-- /.navbar-collapse -->
            <div class="clearfix"></div>
        </div>
        <!-- /.container -->
    </div>
</nav>