<li>
    <a href="#">
        <i class="fa fa-money" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main two">@ViewBag.WriterName</h4>
            <h3 class="ca-sub two">En Fazla Kitabı Olan Yazar</h3> @*//prosedürle yapıldı*@
        </div>
    </a>
</li>