<li>
    <a href="#">
        <i class="fa fa-language" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main one">@ViewBag.WriterCount</h4>
            <h3 class="ca-sub one">Yazar Sayımız</h3>
        </div>
    </a>
</li>