<li>
    <a href="#">
        <i class="fa fa-book" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main">@ViewBag.BookCount</h4>
            <h3 class="ca-sub">Kitap Sayımız</h3>
        </div>
    </a>

</li>

