@model Notice

@{
    ViewData["Title"] = "NoticeUpdate";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Duyuru Güncelleme Sayfası</h1>
<br />
<form method="post" asp-controller="Notice" asp-action="NoticeUpdate">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All"></div>
            <input type="hidden" name="EmployeeId" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Category"><b> Kategori: </b>  </label>
                <input asp-for="Category" class="form-control" value="@Model.Category" />
                <span asp-validation-for="Category" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Content"><b> İçerik: </b>  </label>
                <input asp-for="Content" class="form-control" value="@Model.Content" />
                <span asp-validation-for="Content" class="text-danger"></span>

            </div>


            <button type="submit" class="btn btn-primary">Güncelle</button>

        </div>
        <br />
    </div>
</form>

