@model IEnumerable<Writer>


<div id="team" class="team section">
    <div class="team-container">
        <div class="team-row">
            <h4 class="rad-txt">
                <span class="abtxt1">Popüler</span>
                <span class="abtext">Yazarlar</span>
            </h4>
            <!-- team grid1 -->
            <div>
                @foreach (var writer in Model)
                {
                    <!-- team individual grid -->
                    <div class="col-md-3 col-sm-3 col-xs-3 team-grids">
                        <div class="team-effect">
                            <img src="/img/@writer.Image" style="height:280px" width="120" alt="img" class="img-responsive">
                            <div class="social-icon">
                                <a href="#" class="social-button twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-button facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-button google">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4>@writer.Name @writer.Surname</h4>
                            <span>@writer.Mail</span>
                            <p>@writer.Description.Substring(0, writer.Description.Substring(0, 87).LastIndexOf(" ")) ...</p>

                        </div>
                    </div>
    
                }
            </div>

            <div class="clearfix"> </div>
        </div>
        <!-- //team-row ends here -->
    </div>
    <!-- // team container ends here -->
</div>
<!-- //team -->
<!--testimonials -->
<div class="reviews section" id="testimonials">
    <div class="container">
        <h4 class="rad-txt">
            <span class="abtxt1">visitors</span>
            <span class="abtext">testimonials</span>
        </h4>
        <div id="Carousel" class="slide carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>convallis felis</h6>
                                    <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.</p>
                                    <h5>Davidson</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3  img-testi">
                                    <img class="img-responsive" src="~/vitrinpanel/images/c3.jpg" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/vitrinpanel/images/c2.jpg" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Cras rutrum</h6>
                                    <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                    <h5>Clifford</h5>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>felis mattis</h6>
                                    <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non yallis.</p>
                                    <h5>Mercurio</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/vitrinpanel/images/c4.jpg" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/vitrinpanel/images/c1.jpg" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Cras rutrum</h6>
                                    <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                    <h5>Clifford</h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->
                <div class="item">
                    <div class="row">
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>convallis felis</h6>
                                    <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non mattis.</p>
                                    <h5>Davidson</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/vitrinpanel/images/c3.jpg" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6 testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/vitrinpanel/images/c2.jpg" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Cras rutrum</h6>
                                    <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                    <h5>Clifford</h5>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>felis mattis</h6>
                                    <p>Lorem ipsum dolor sit amet.Cras rutrum iaculis enim, non yallis.</p>
                                    <h5>Mercurio</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/vitrinpanel/images/c4.jpg" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="~/vitrinpanel/images/c1.jpg" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>Cras rutrum</h6>
                                    <p>Lorem ipsum dolor sit amet. enim, non convallis felis mattis.</p>
                                    <h5>Clifford</h5>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <!--.row-->
                </div>
            </div>
            <!--.carousel-inner-->
            <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
        </div>
        <!--.Carousel-->
        <div class="clearfix"> </div>
    </div>
</div>
