    <div class="side-bar col-md-3">
                    <!--preference -->
                    <div class="left-side">
                        <h3 class="shopf-sear-headits-sear-head">
                           Türler
                        </h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Aşk</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Macera</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Aksiyon</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Roman</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Dram</span>
                            </li>
                        </ul>
                    </div>
                    <!-- // preference -->
                    <div class="search-hotel">
                        <h3 class="shopf-sear-headits-sear-head">
                            <span>Kitap</span> Ara
                        </h3>
                        <form action="#" method="post">
                            <input type="search" placeholder="search here" name="search" required="">
                            <input type="submit" value="Search">
                        </form>
                    </div>
              
               
                    <div class="left-side">
                        <h3 class="shopf-sear-headits-sear-head">Yazar</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Elif Şafak</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Oğuz Atay</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Halide Edip Adıvar</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Orhan Pamuk</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Ben Mikaelsen</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Canan Tan</span>
                            </li>
                      
                        </ul>
                    </div>
                    <!-- //discounts -->
                    <!-- Binding -->
                    <div class="left-side">
                        <h3 class="shopf-sear-headits-sear-head">Yayınevi</h3>
                        <ul>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Güneş</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Yıldız</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Beyaz Balina</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">Kitap Sepeti</span>
                            </li>
                        
                        </ul>
                    </div>
          
                    <div class="customer-rev left-side">
                        <h3 class="shopf-sear-headits-sear-head">Puan</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->


                </div>