<li>
    <a href="#">
        <i class="fa fa-barcode" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main">@ViewBag.BookPublish</h4>
            <h3 class="ca-sub">En İyi yayınevi</h3>
        </div>
    </a>
</li>