@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_VitrinLayout.cshtml";
}



<div class="col-md-7 about-left-grid">

    <div class="inner-about2">
        <h4>Herkese Selamlar</h4>
        <p>Book & World Sayfamızda Birçok Türde Kitaplarımız Mevcuttur</p>
        <h5>Türler</h5>
        <ul class="about-list">
            @foreach (var item in Model)
            {
                <li>
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i>@item.Name
                </li>
            }



        </ul>
        <a href="/Showcase/Book/Index/">Daha Fazlası</a>
    </div>
    <!-- about left bottom - services -->
    <div class="principles-grids principles-grids1">
        <div class="abt-btm agileits w3layouts aos-init aos-animate">
            <div class="col-md-6 col-sm-6 agileits elite-services1 w3layouts bottom-gds" data-aos="fade-up">
                <div class="bott-img agileits w3layouts">
                    <div class="icon-holder agileits w3layouts">
                        <span class="fa fa-book agileits w3layouts service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission agileits w3layouts">Kitaplar</h4>
                    <div class="description agileits w3layouts">
                        <a href="/Showcase/Book/Index">İncele</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 agileits elite-services2 w3layouts bottom-gds" data-aos="fade-down">
                <div class="bott-img bott-img1 agileits w3layouts">
                    <div class="icon-holder agileits w3layouts">
                        <span class="fa fa-user agileits w3layouts service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission agileits w3layouts">Yazarlar</h4>
                    <div class="description agileits w3layouts">
                        <a href="/Showcase/Writer/Index/">Gözat</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //about left bottom - services ends here -->
</div>
<!-- //about-left-grid ends here-->
<!-- about-right-grid -->
<div class="col-md-5 about-right-grid"></div>
<!-- //about-right-grid ends here -->
<div class="clearfix"></div>