<li>
    <a href="#">
        <i class="fa fa-database" aria-hidden="true"></i>
        <div class="ca-content">
            <h4 class="ca-main two">@ViewBag.BookName</h4>
            <h3 class="ca-sub two">Son Eklenen Kitap</h3>
        </div>
    </a>
</li>