<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Hakkımızda</h1>

                <h3 class="font-bold no-margins">
                    AspNet Core 5.0
                </h3>

                <small>.Sol tarafta yer alan Sidebardan yardım menüsüne ulaşıp takıldığınız noktalarla ilgili destek alabilirsiniz ya da Area tarafından gerçekleştirilen vitrin paneline girip iletişim sekmesinde en altta admin iletişim bilgilerinden iletişime geçilebilir.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Kitaplar</h1>
                <br />

                <h3 class="font-bold no-margins">
                    Son Eklenen Kitap
                </h3>
                <small>@ViewBag.lastBook</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 10,992</h1>

                <h3 class="font-bold no-margins">
                    Kitap Ceza Kazancı
                </h3>
                <small>Kitap tanıtımı,Promosyonlar,Reklamlar,Anlasmalar</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>