@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Kategori Ekleme Sayfası</h1>


<br />
<form method="post" asp-controller="Category" asp-action="AddCategory">
    <div>
        <div>
            <br />
            <label asp-for="Name"> <b>Kategori:</b></label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <br />
            <br />

          
        </div>
    </div>

    <br>

    <button type="submit" href="/Category/AddCategory/" class="btn btn-outline-success"><b>Kategori Oluştur</b></button>
    <br />


</form>


