@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";}

<h1>Kategoriler</h1>
<table class="table table-bordered table-secondary table-hover">
    <tr>
        <th>#</th>
        <th>Kategori</th>

    </tr>
    @foreach (var category in Model)
    {
    <tr>
        <td>@category.CategoryId</td>
        <td>@category.Name</td>
    </tr>
    }
</table>



