@model Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Kategori Güncelleme Sayfası</h1>
<hr />
<form method="post" asp-controller="Category" asp-action="UpdateCategory">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All"></div>
            <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
            <div class="form-group">
                <label asp-for="Name"><b> Kategori: </b>  </label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

           
            <button type="submit" class="btn btn-primary">Güncelle</button>

        </div>
        <br />
    </div>
</form>


