
@{
    ViewData["Title"] = "LinqCard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
  
    <link href="~/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
   
    <link href="~/web3/css/font-awesome.css" rel="stylesheet">
    
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="clearfix"></div>

    <ul class="ca-menu">
        @await Component.InvokeAsync("BookLing")
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@*@ViewBag.dgr2*@</h4>
                    <h3 class="ca-sub one">Üye Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-money" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@*@ViewBag.dgr3*@</h4>
                    <h3 class="ca-sub two">Kasadaki Tutar</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-apple" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@*@ViewBag.dgr4*@</h4>
                    <h3 class="ca-sub three">Ödünçteki Kitaplar</h3>
                </div>
            </a>
        </li>

    </ul>

    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-list" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@*@ViewBag.dgr5*@</h4>
                    <h3 class="ca-sub">Kategori Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-language" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">Meltem Çınar</h4>
                    <h3 class="ca-sub one">En Aktif Üye</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">İki Şehrin Hikayesi</h4>
                    <h3 class="ca-sub two">En Çok Okunan Kitap</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-sticky-note" aria-hidden="true"></i>
                <div class="ca-content">

                    <h4 class="ca-main three">@*@ViewBag.dgr8*@</h4>

                    <h3 class="ca-sub three">En Fazla Kitabı Olan Yazar</h3>
                </div>
            </a>
        </li>

    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-barcode" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@*@ViewBag.dgr9*@</h4>
                    <h3 class="ca-sub">En İyi yayınevi</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bitcoin" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@*Baran Yücedağ*@</h4>
                    <h3 class="ca-sub one">En Başarılı Personel</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@*@ViewBag.dgr11*@</h4>
                    <h3 class="ca-sub two">Toplam Mesaj Sayısı</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">8</h4>
                    <h3 class="ca-sub three">Bügünkü Emanetler</h3>
                </div>
            </a>
        </li>

    </ul>
</body>
</html>


