@model IPagedList<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Personel Listesi</h1>

<br />
<table class="table table-striped  table-hover table-bordered">
    <tr  style="background-color:#f8e04e">
        <th>#</th>
        <th>Personel</th>


        <th> Sil  </th>
        <th>Güncelle  </th>
    </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <th>@employee.EmployeeId</th>
            <td><p>@employee.NameSurname</p></td>
            <td><a href="/Employee/DeleteEmployee/@employee.EmployeeId" id="DeleteBtn" onclick="return confirm('Silmek Istediginize Eminmisiniz');" class="btn btn-outline-danger"> <b>Sil</b></a></td>
            <td><a href="/Employee/EmployeeUpdate/@employee.EmployeeId" class="btn btn-outline-success">Güncelle</a>
            <td>


        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a href="/Employee/AddEmployee/" class="btn btn-primary">Yeni Personel Ekle</a>