<div class="col-lg-2">
    <div class="widget style1 navy-bg">
        <div class="row vertical-align">
            <div class="col-3">
                <i class="fa fa-user fa-3x"></i>
            </div>
            <div class="col-9 text-right">
                <h2 class="font-bold"> @ViewBag.loanBook</h2>
            </div>
        </div>
    </div>
</div>
