<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Page | </title>

    <link href="~/aspnetadmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/aspnetadmin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/aspnetadmin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/aspnetadmin/css/animate.css" rel="stylesheet">
    <link href="~/aspnetadmin/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <partial name="~/Views/Shared/PartialViews/_UserLayoutNavbarPartialView.cshtml" />

        <div id="page-wrapper" class="gray-bg">
            <partial name="~/Views/Shared/PartialViews/_UserLayoutHeaderPartialView.cshtml" />

            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="float-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2018
                </div>
            </div>

        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="~/aspnetadmin/js/jquery-3.1.1.min.js"></script>
    <script src="~/aspnetadmin/js/popper.min.js"></script>
    <script src="~/aspnetadmin/js/bootstrap.js"></script>
    <script src="~/aspnetadmin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/aspnetadmin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="~/aspnetadmin/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/aspnetadmin/js/inspinia.js"></script>
    <script src="~/aspnetadmin/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="~/aspnetadmin/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="~/aspnetadmin/js/demo/peity-demo.js"></script>

    <script>
    $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>

</body>

</html>
