@{

    Layout = null;

}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        body {
            font-family: "Lato", sans-serif;
        }



        .sidebar {
            height: 100%;
            width: 240px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }



            .sidebar a {
                padding: 10px 14px 10px 10px;
                text-decoration: none;
                font-size: 18px;
                color: white;
                display: block;
            }



                .sidebar a:hover {
                    color: #0094ff;
                }



        .main {
            margin-left: 240px; /* Same as the width of the sidenav */

            padding: 0px 10px;
        }



        @@media screen and (max-height: 450px) {

            .sidebar {
                padding-top: 15px;
            }



                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>

</head>

<body>
    <partial name="~/Views/Shared/PartialViews/_UserLayoutSidebarPartialView.cshtml" />



    <div class="main">

        @RenderBody()

    </div>



</body>

</html>

