@model Writer
@{
    ViewData["Title"] = "AddWriter";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Yazar Ekleme Sayfası</h1>
<br />
<br />

<form method="post" asp-controller="Writer" asp-action="AddWriter" enctype="multipart/form-data">

    <div>
        <label asp-for="Name"> <b>Adınız :</b></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Surname"> <b>Soyadınız:</b></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Mail"> <b>E-Mail:</b></label>
        <input asp-for="Mail" type="email" class="form-control" />
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>


    <div>
        <label asp-for="Password"><b>Şifre:</b></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image"> <b>Resim:</b></label>
        <input type="file" name="file" class="form-control" />
    </div>
    <div>
        <label asp-for="Description"> <b>Hakkımda:</b></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"  id="txtdescription"  class="text-danger"></span>

    </div>


    <br />
    <br />
    <button type="submit" class="btn btn-outline-success" ><b>Yeni Yazar Ekle</b></button>
    <br />


</form>

@*<script>
    function fnccontrol()
    {
        var x = $('#txtdescription');
        if (x.val().length < 20)
        {
            alert("Hataaaaaaaaaaaaaaaaaa");
        }
    }
</script>*@
