
<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
    <div class="nav-profile-img">
        <img src="/img/@ViewBag.Image" alt="image">
        <span class="availability-status online"></span>
    </div>
    <div class="nav-profile-text">
        <p class="mb-1 text-black">@ViewBag.value2</p>
    </div>
</a>