<li class="nav-header">
    <div class="dropdown profile-element">
        <img alt="image" class="rounded-circle" src="@ViewBag.Image" />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">@ViewBag.value2</span>
 
        </a>
      
    </div>
    <div class="logo-element">
        IN+
    </div>
</li>