@model IEnumerable<Book>


<h1>kitaplar</h1>
<div class="col-md-8">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Kitaplarım</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" class="dropdown-item">Config option 1</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <div>
                <div class="feed-activity-list">

                    @foreach (var book in Model)
                    {


                    <div class="feed-element">
                        <a href="#" class="float-left">
                            <img alt="image" class="rounded-circle" src="@book.BookImage">
                        </a>
                        <div class="media-body ">
                            <small class="float-right text-navy">1m ago</small>
                            <strong>@book.BookName</strong>@book.NumberPage<strong>Monica Smith</strong>. <br>
                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                            <div class="actions">
                                <a href="" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a href="" class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</button>

            </div>

        </div>
    </div>

</div>
